@{
    ViewBag.Title = "Home Page";
}



















@*@using (Html.BeginForm("SearchComplex", "Home"))
{
    <div class="col-md-12" style="padding-left: 0">
        <input type="text" name="clientname" />
        <label>Имя клиента</label>
    </div>
        <div class="col-md-12" style="padding-left: 0">
            <input type="text" name="tariffname" />
            <label>Название тарифа</label>
        </div>
                <div>
                    <input type="date" class="datepicker" name="date_start" value="2000-01-01" /> @*дата заказа
                    <input type="date" class="datepicker" name="date_end" value=@DateTime.Now.ToString("yyyy-MM-dd") />
                    <label>Дата заказа</label>
                </div>

                    <div class="form-group">
                        <div class="col-md-12" style="padding-left: 0">
                            <input type="submit" value="Поиск" class="btn btn-default" />
                        </div>
                    </div>
}*@