@model IEnumerable<EnergyCompany.Models.collector>

@{
    ViewBag.Title = "Результаты";
}

<h2>Результат запроса</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Ночной расход")
        </th>
        <th>
            @Html.DisplayName("Имя клиента")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.night_used)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.name)
            </td>
        </tr>
    }

</table>
